.profile-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

mat-card {
  width: 100%;
  max-width: 600px;
  padding: 20px;
}

.button-row {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.formfield-dateOfBirth{
  max-width: 212px;
}